* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}
body {
  background-color: rgb(0, 0, 0);
}
.navBar {
  z-index: 1;
  top: 0;
  /* width: 100%; */
  position: sticky;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 13px 30px;
  /* padding: 20px; */
}
.navBar input[type="checkbox"] {
  display: none;
}
.navBarItems {
  padding-left: 30%;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.Menu {
  align-self: flex-end;
  display: none;
}
.Menu input {
  display: none;
}
.Menu label {
  font-size: 3rem;
  cursor: pointer;
  visibility: visible;
  opacity: 1;
}
.About_Check {
  /* width: 30%; */
  display: flex;
  justify-content: space-evenly;
  align-self: center;
  gap: 10px;
}
.About {
  display: flex;
  font-family: "Mulish";
  font-style: normal;
  /* line-height: 29px; */
  width: 120px;
  font-weight: 400;
  font-size: 15px;
  justify-content: center;
  border-radius: 4px;
  line-height: 35px;
  cursor: pointer;
}
.About:hover {
  background-color: #ffdbe6;
  color: #d32d44;
}
.check:hover {
  background-color: #ffdbe6;
  color: #d32d44;
}
.check {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  display: flex;
  line-height: 35px;
  width: 120px;
  justify-content: center;
  border-radius: 4px;
  cursor: pointer;
}
.Admin_btn {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  text-transform: capitalize;
  color: #120809;
  text-align: center;
  border: 1px solid #d32d44;
  border-radius: 5px;
  line-height: 2.4em;
  width: 23%;
  cursor: pointer;
}
.mainArea {
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.centered-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  text-align: center;
  color: #fff;
}
.aa {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.mainArea img {
  opacity: 0.5;
}
.Check {
  color: #efcc32;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 800;
  font-size: 48px;
  line-height: 56px;
}
.text {
  text-align: center;
  bottom: 10%;
  color: white;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
}
.ResultBtn {
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  border-radius: 7px;
  gap: 8px;
  width: 300px;
  height: 50px;
  color: white;
  background-color: #d32d44;
  cursor: pointer;
  transition: all 0.3s linear;
  font-family: "Sora";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  /* identical to box height, or 138% */

  text-transform: capitalize;
}
.ResultBtn:hover {
  transform: scale(1.02);
}
.resultsOverview {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  background-color: #efcc32;
  height: 50vh;
}
.leading {
  color: #d32d44;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
}
.Our {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 30px;
}
.Growth {
  color: #f38530;
}
.NumberCount {
  display: flex;
  flex-direction: column;
}
.Num {
  text-align: center;
  display: flex;
  align-items: center;
  /* background-color: #d32d44; */
  font-size: larger;
  gap: 50px;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 1000;
  font-size: 42px;
  /* line-height: 90px; */
}
.Numtext {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  text-align: center;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}
.footer {
  display: flex;
  background-color: #fff4f5;
  height: 60vh;
  padding-top: 10px;
  flex-direction: column;
  /* align-items: center;s */
}
.footerBar {
  padding: 60px 90px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: fit-content;
  align-items: flex-start;
  padding-bottom: 0px;
}
.SpecializedInfo {
  width: 400px;
  height: 208px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  gap: 40px;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  /* or 150% */

  color: #807677;
}

.QuickLinks {
  display: flex;
  flex-direction: column;
  gap: 18px;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */
  color: #807677;
  justify-content: space-around;
}
.QuickLinkDetails {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.q {
  margin-bottom: 25px;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  /* identical to box height, or 150% */

  color: #120809;
}
.a {
  margin-top: -10px;
}
.contact {
  display: flex;
  flex-direction: column;
  gap: 28px;
  width: 20%;
  text-align: left;
  /* align-items: center; */
  /* justify-content: center; */
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  /* identical to box height, or 150% */

  color: #120809;
}
.contact div {
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  /* identical to box height, or 169% */

  color: #807677;
}
hr {
  padding: 0 90px;
  width: 87%;
  margin-left: auto;
  margin-right: auto;
  background: rgba(243, 133, 48, 0.5);
  border-radius: 1px;
  height: 2px;
  border: none;
}
.Social {
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
  padding-top: 20px;
  width: 100%;
  height: 200px;
  align-items: center;
  /* background-color: #d32d44; */

  gap: 24px;
}
.Face {
  display: flex;
  width: 30px;
  height: 30px;
  /* background-color: #3b5998; */
}
.socialBody {
  display: flex;
  justify-content: center;
  gap: 4px;
}
.Twitter {
  display: flex;
  width: 30px;
  height: 30px;
  /* background-color: #1da1f2; */
}
.Ig {
  /* display: flex; */
  width: 30px;
  height: 30px;
}
/* * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
} */
section {
  display: none;
  align-items: center;
  justify-content: center;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(7px);
}
.FormWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: rgb(0, 255, 42); */
  width: 100%;
  height: 100%;
}
.FormBody {
  display: flex;
  justify-content: flex-end;
  /* text-align: center; */
  /* display: flex; */
  flex-direction: column;
  gap: 18px;
  position: absolute;
  width: 30em;
  height: 429px;
  /* background-color: #d32d44; */
}
.admin {
  /* margin-right: 65%; */
  font-family: "Sora";
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 41px;
}
.details {
  margin-top: -15px;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  /* identical to box height */
  color: rgba(85, 101, 117, 1);
  margin-bottom: 30px;
  /* margin-right: 60%; */
}
.Username {
  padding: 20px;
  width: 100%;
  height: 54px;
  left: 0px;
  top: 0px;
  background: #f5f7f9;
  border-radius: 5px;
  outline: none;
  border: none;
}
.password {
  padding: 20px;
  border: none;
  outline: none;
  width: 100%;
  height: 54px;
  left: 0px;
  top: 0px;
  background: #f5f7f9;
  border-radius: 5px;
}
.password-container {
  position: relative;
}
.show-hide-icon {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  left: 450px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  height: fit-content;
}
.show_hide {
  display: none;
  width: 25px;
  transform: translateX(-50%);
}
.show_hide1 {
  width: 25px;
  transform: translateX(-50%);
  /* left: 42%; */
}
.BtnWrpper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 90px;
  /* background-color: #d32d44; */
}
.LoginBtn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 8px;
  position: absolute;
  width: 480px;
  height: 50px;
  /* Accent Color */
  color: #ffffff;
  background: #d32d44;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.16);
  border-radius: 8px;
  font-family: "Sora";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  /* identical to box height, or 138% */
  cursor: pointer;
  text-transform: capitalize;
  transition: all 0.3s linear;
}
.LoginBtn:hover {
  transform: scaleX(1.01);
}
.Error {
  /* text-align: center; */
  font-family: "Sora";
  display: none;
  color: #ffffff;
  background-color: rgb(182, 16, 16);
  align-items: center;
  justify-content: center;
  align-self: center;
  width: 70%;
  height: 7%;
  transition: all 0.5s linear;
  border-radius: 3px;
}
@media screen and (max-width: 768px) {
  html {
    font-size: 60%;
  }
  .logo {
    margin-bottom: auto;
    width: 100px;
  }
  .Menu {
    display: flex;
  }
  .Menu {
    justify-self: flex-end;
    align-self: center;
    margin-bottom: auto;
    margin-left: auto;
    padding-right: 0;
  }
  .navBar {
    display: flex;
    justify-content: space-between;
  }
  .navBarItems {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    gap: 9px;
    top: 100%;
    left: 0;
    width: 100%;
    background: #fff;
    padding: 1rem 2rem;
    border-top: 0.1rem solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    transform-origin: top;
    transform: scaleY(0);
    opacity: 0;
    transition: 0.2s linear;
  }
  .navBar input:checked ~ .navBarItems {
    transform: scaleY(1);
    opacity: 1;
  }

  .About_Check {
    flex-direction: column;

    align-self: flex-end;
    gap: 1px;
  }
  .About {
    width: 60px;
    font-weight: 500;
    font-size: 10px;
  }
  .check {
    font-weight: 500;
    width: 70px;
    font-size: 10px;
  }
  .ResultBtn {
    /* font-size: 15px; */
    font-family: "Sora";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    /* identical to box height, or 138% */

    text-transform: capitalize;
  }
  .FormBody {
    width: 100%;
  }
  .text {
    text-align: center;
    bottom: 10%;
    color: white;
    font-family: "Mulish";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
  }
  .Check {
    text-align: center;
    color: #efcc32;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 36px;
  }
  .Admin_btn {
    text-align: center;
    border: 1px solid #d32d44;
    border-radius: 7px;
    line-height: 3em;
    width: 30%;
    cursor: pointer;
  }
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 120px;
  }
  .show-hide-icon {
    left: 90%;
    /* background-color: #d32d44; */
  }
  .LoginBtn {
    position: relative;
    width: 100%;
  }
  .mainArea {
    height: 100vh;
  }
  .SpecializedInfo {
    width: 100%;
    height: fit-content;

    /* width: 45%; */
    /* background-color: #efcc32; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    font-family: "Mulish";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    gap: 10px;
  }
  .a {
    margin-top: -1px;
  }
  .QuickLinks {
    /* background-color: #1a7adb; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1px;
    width: 100%;
    font-weight: 400;
    /* font-size: 200px; */
    /* line-height: 10px; */
    color: #807677;
    /* height: 50px; */
  }
  .q {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    margin-top: 0px;
    margin-bottom: 3px;
    font-family: "Mulish";
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 30px;
  }
  .QuickLinkDetails {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    font-weight: 400;
    font-size: 15px;
    line-height: 30px;
    color: #807677;
  }
  .contact {
    display: flex;
    flex-direction: column;
    gap: 3px;
    width: 100%;
    text-align: left;
    font-size: 12px;
    font-weight: 600;
    font-size: 18px;
    line-height: 30px;
    /* align-items: center; */
    /* justify-content: center; */
  }
  .contact div {
    /* background-color: #00ff4c; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    gap: 6px;
    font-weight: 400;
    font-size: 15px;
    /* text-align: justify; */
    line-height: 19px;
    /* padding-right: 15px; */
  }

  .footer {
    display: flex;
    margin-bottom: auto;
    /* background-color: #fd0909; */
    height: 100vh;
    padding-top: 20px;
    flex-direction: column;
    /* align-items: center;s */
  }
  .footerBar {
    display: flex;
    align-items: center;
    gap: 25px;
    justify-content: initial;
    padding: 0px 20px;
    padding-bottom: 0px;
    height: 100%;
    margin-bottom: 50px;
    flex-direction: column;
    /* background-color: #d32d44; */
  }
}
